@model PostTapeApp.Models.Post

@{
    ViewData["Title"] = "Удаление";
}

<h4>Удаление</h4>

<h3>Вы действительно хотите удалить пост пользователя: @Model.User.Name ? </h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatePublish)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatePublish)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
       <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Удалить" class="btn btn-danger"/>
        <a asp-action="Index" class="btn btn-primary">Список постов</a>
    </form>
</div>