@model PostTapeApp.Models.Post

@{
    ViewData["Title"] = "Подробно";
}

<h1>Подробно</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatePublish)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatePublish)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
       <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>

<div>     
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Изменить</a> 
        <a asp-action="Index" class="btn btn-primary">Список постов</a>
</div>