@model IEnumerable<PostTapeApp.Models.Post>

@{
    ViewData["Title"] = "Посты пользователей";
}

<p>
    <a class="btn btn-success" asp-action="Create">Создать новый</a>
</p>

<form asp-controller="Home" asp-action="Index">
    <p>
        Имя пользователя: <input type="text" name="search"/>
        <input class="btn btn-success" type="submit" value="Поиск"/>
    </p>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
                @Html.DisplayNameFor(model => model.User)
        </th>

        <th>
                @Html.DisplayNameFor(model => model.DatePublish)
        </th>

         <th>
                @Html.DisplayNameFor(model => model.Message)
        </th>
    </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
                                            <tr>
                                                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                                                </td>

                                                     <td>
                    @Html.DisplayFor(modelItem => item.DatePublish)
                                                    </td>

                                                    <td>
                    @Html.DisplayFor(modelItem => item.Message)
                                                    </td>   

                                                    <td>                                                   
                             <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                                                        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Подробно</a>
                                                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                                                    </td>
                                            </tr>
        }
    </tbody>
</table>