@model IEnumerable<PostTapeApp.Models.Post>

@{
    ViewData["Title"] = "Посты пользователей";
}

<form asp-controller="Home" asp-action="Index">
    <p>
        Имя пользователя: <input type="text" name="search"/>
        <input type="submit" value="Поиск"/>
    </p>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
                @Html.DisplayNameFor(model => model.User)
        </th>

        <th>
                @Html.DisplayNameFor(model => model.DatePublish)
        </th>

         <th>
                @Html.DisplayNameFor(model => model.Message)
        </th>
    </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
                                <tr>
                                    <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                                    </td>

                                         <td>
                    @Html.DisplayFor(modelItem => item.DatePublish)
                                        </td>

                                        <td>
                    @Html.DisplayFor(modelItem => item.Message)
                                        </td>                                 
                                </tr>
        }
    </tbody>
</table>